In [6]:
#importing Library - pandas and assigning into a New Variable - pd
import pandas as pd

In [7]:
dataset=pd.read_csv("Preprocessed_1000_cryptos.csv")
dataset.head()

,symbol,Date,Time - 24 Hour Format,Time - 12 Hour Format,volume,open,Close Minus Open,Adj Close Minus Open,Close Minus Adj Close,High Minus Open,High Minus Close,High Minus Adj Close,High Minus Low,close,adj_close,high,low
0,BLY-USD,07-08-2020,00:00:00,12:00 AM,457741.0,0.039345,-0.011361,-0.011361,0.0,0.000035,0.011396,0.011396,0.011970,0.027984,0.027984,0.039380,0.027410
1,BLY-USD,08-08-2020,00:00:00,12:00 AM,339045.0,0.027906,-0.000211,-0.000211,0.0,0.000477,0.000688,0.000688,0.000741,0.027695,0.027695,0.028383,0.027642
2,BLY-USD,09-08-2020,00:00:00,12:00 AM,405214.0,0.027715,0.000071,0.000071,0.0,0.000250,0.000179,0.000179,0.001497,0.027786,0.027786,0.027965,0.026468
3,BLY-USD,10-08-2020,00:00:00,12:00 AM,452310.0,0.027835,-0.000978,-0.000978,0.0,0.001503,0.002481,0.002481,0.002486,0.026857,0.026857,0.029338,0.026852
4,BLY-USD,11-08-2020,00:00:00,12:00 AM,571556.0,0.026889,-0.000296,-0.000296,0.0,0.000368,0.000664,0.000664,0.001220,0.026593,0.026593,0.027257,0.026037

In [9]:
total_rows = dataset.shape[0]
total_columns = dataset.shape[1]

print(f"The dataset has {total_rows} rows and {total_columns} columns.")

The dataset has 1048449 rows and 17 columns.

In [10]:
#To check the Presence of Null values in Entire Dataset
dataset.isnull()

,symbol,Date,Time - 24 Hour Format,Time - 12 Hour Format,volume,open,Close Minus Open,Adj Close Minus Open,Close Minus Adj Close,High Minus Open,High Minus Close,High Minus Adj Close,High Minus Low,close,adj_close,high,low
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048444,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048445,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048446,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048447,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048448,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
#Method-01, To check the Presence of Null values in Entire Dataset in Count, since having poor readability in Python
dataset.isnull().sum()

symbol                       0
Date                         0
Time - 24 Hour Format        0
Time - 12 Hour Format        0
volume                   11597
open                     11597
Close Minus Open             0
Adj Close Minus Open         0
Close Minus Adj Close        0
High Minus Open              0
High Minus Close             0
High Minus Adj Close         0
High Minus Low               0
close                    11597
adj_close                11597
high                     11597
low                      11597
dtype: int64

In [12]:
#Method-02, To check the Presence of Null values in Entire Dataset in Count, since having poor readability in Python
dataset.isna().sum()

symbol                       0
Date                         0
Time - 24 Hour Format        0
Time - 12 Hour Format        0
volume                   11597
open                     11597
Close Minus Open             0
Adj Close Minus Open         0
Close Minus Adj Close        0
High Minus Open              0
High Minus Close             0
High Minus Adj Close         0
High Minus Low               0
close                    11597
adj_close                11597
high                     11597
low                      11597
dtype: int64

In [5]:
""" 
For Regeression:
Existing Four Scenarios for this Dataset to Replace the NaN/Null values in Column-Salary/Any Column :
1.Delete Entire Row(s) those having NaN/Null values in Column-Salary
2.Create a Model by considering this Dataset as Semi-supervised Learning, so that We can Predict Values 
for NaN/Null values in Column-Salary
3.Replace the NaN/Null values in Column-Salary with Central Tendency by Taking Mean/Median/Mode
4.Replace the NaN/Null values in Column-Salary with respective to Problem Statement (Requirement/Need) 

For Categorical Data:
Existing Scenario for this Dataset to Replace the NaN/Null values in Column-Salary/Any Column :
1.Replace the NaN/Null values in Column-Salary with Central Tendency by Taking Mode """

' \nFor Regeression:\nExisting Four Scenarios for this Dataset to Replace the NaN/Null values in Column-Salary/Any Column :\n1.Delete Entire Row(s) those having NaN/Null values in Column-Salary\n2.Create a Model by considering this Dataset as Semi-supervised Learning, so that We can Predict Values \nfor NaN/Null values in Column-Salary\n3.Replace the NaN/Null values in Column-Salary with Central Tendency by Taking Mean/Median/Mode\n4.Replace the NaN/Null values in Column-Salary with respective to Problem Statement (Requirement/Need) \n\nFor Categorical Data:\nExisting Scenario for this Dataset to Replace the NaN/Null values in Column-Salary/Any Column :\n1.Replace the NaN/Null values in Column-Salary with Central Tendency by Taking Mode '

In [13]:
#Purpose : To Automate the Separation of Both Quantitive and Qualitative Columns with Return Statements of Created List(s) - quan, qual

def quanQual(dataset):
        quan = []
        qual = []

        for columnName in dataset.columns:
            if dataset[columnName].dtype == 'O':
                qual.append(columnName)
                  
            elif dataset[columnName].dtype == 'bool':  # Boolean type
                qual.append(columnName)
            
            elif 'datetime' in str(dataset[columnName].dtype):  # Datetime types
                qual.append(columnName)
                
            elif dataset[columnName].dtype in ['int64', 'float64']:  # Numeric types
                quan.append(columnName)
            
            else:
                qual.append(columnName)
        
        return quan, qual

In [14]:
# Assigning the Output of Function - quanQual into Two New Variables - quan and qual, Since the Function returns Two Outputs

quan, qual = quanQual(dataset)

In [15]:
#Calling an Existing Function .info() from Library - pandas
#Purpose of function - To show all the Information of Dataset.CSV

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048449 entries, 0 to 1048448
Data columns (total 17 columns):
symbol                   1048449 non-null object
Date                     1048449 non-null object
Time - 24 Hour Format    1048449 non-null object
Time - 12 Hour Format    1048449 non-null object
volume                   1036852 non-null float64
open                     1036852 non-null float64
Close Minus Open         1048449 non-null float64
Adj Close Minus Open     1048449 non-null float64
Close Minus Adj Close    1048449 non-null float64
High Minus Open          1048449 non-null float64
High Minus Close         1048449 non-null float64
High Minus Adj Close     1048449 non-null float64
High Minus Low           1048449 non-null float64
close                    1036852 non-null float64
adj_close                1036852 non-null float64
high                     1036852 non-null float64
low                      1036852 non-null float64
dtypes: float64(13), object(4)
memory usage: 136.0+ MB

In [16]:
dataset[quan].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048449 entries, 0 to 1048448
Data columns (total 13 columns):
volume                   1036852 non-null float64
open                     1036852 non-null float64
Close Minus Open         1048449 non-null float64
Adj Close Minus Open     1048449 non-null float64
Close Minus Adj Close    1048449 non-null float64
High Minus Open          1048449 non-null float64
High Minus Close         1048449 non-null float64
High Minus Adj Close     1048449 non-null float64
High Minus Low           1048449 non-null float64
close                    1036852 non-null float64
adj_close                1036852 non-null float64
high                     1036852 non-null float64
low                      1036852 non-null float64
dtypes: float64(13)
memory usage: 104.0 MB

In [17]:
#Calling the Required Varible (quan)
dataset[quan]

,volume,open,Close Minus Open,Adj Close Minus Open,Close Minus Adj Close,High Minus Open,High Minus Close,High Minus Adj Close,High Minus Low,close,adj_close,high,low
0,457741.0,0.039345,-0.011361,-0.011361,0.0,0.000035,0.011396,0.011396,0.011970,0.027984,0.027984,0.039380,0.027410
1,339045.0,0.027906,-0.000211,-0.000211,0.0,0.000477,0.000688,0.000688,0.000741,0.027695,0.027695,0.028383,0.027642
2,405214.0,0.027715,0.000071,0.000071,0.0,0.000250,0.000179,0.000179,0.001497,0.027786,0.027786,0.027965,0.026468
3,452310.0,0.027835,-0.000978,-0.000978,0.0,0.001503,0.002481,0.002481,0.002486,0.026857,0.026857,0.029338,0.026852
4,571556.0,0.026889,-0.000296,-0.000296,0.0,0.000368,0.000664,0.000664,0.001220,0.026593,0.026593,0.027257,0.026037
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048444,220284.0,0.637097,-0.025488,-0.025488,0.0,0.018679,0.044167,0.044167,0.044203,0.611609,0.611609,0.655776,0.611573
1048445,241639.0,0.611426,0.019192,0.019192,0.0,0.039220,0.020028,0.020028,0.050186,0.630618,0.630618,0.650646,0.600460
1048446,228349.0,0.630400,0.012242,0.012242,0.0,0.014417,0.002175,0.002175,0.020605,0.642642,0.642642,0.644817,0.624212
1048447,238951.0,0.643340,0.001866,0.001866,0.0,0.022017,0.020151,0.020151,0.035176,0.645206,0.645206,0.665357,0.630181
1048448,300445.0,0.645888,-0.019901,-0.019901,0.0,0.005559,0.025460,0.025460,0.029177,0.625987,0.625987,0.651447,0.622270

In [18]:
#Checking the Column Name(s) in Another Varible (qual)
dataset[qual]

          symbol        Date Time - 24 Hour Format Time - 12 Hour Format
0        BLY-USD  07-08-2020              00:00:00              12:00 AM
1        BLY-USD  08-08-2020              00:00:00              12:00 AM
2        BLY-USD  09-08-2020              00:00:00              12:00 AM
3        BLY-USD  10-08-2020              00:00:00              12:00 AM
4        BLY-USD  11-08-2020              00:00:00              12:00 AM
...          ...         ...                   ...                   ...
1048444  MNW-USD  07-07-2024              00:00:00              12:00 AM
1048445  MNW-USD  08-07-2024              00:00:00              12:00 AM
1048446  MNW-USD  09-07-2024              00:00:00              12:00 AM
1048447  MNW-USD  10-07-2024              00:00:00              12:00 AM
1048448  MNW-USD  11-07-2024              00:00:00              12:00 AM

[1048449 rows x 4 columns]

In [19]:
""" How to Handle/Automate the Central Tendency (Taking Mean/Median/Mode) for Multiple Column
Solution: Using "Imputer in Python"
Purpose: Imputation of Missing Values """

#importing Library - numpy and assigning into a New Variable - np
import numpy as np 

#importing a Class - SimpleImputer from module - impute of Library - sklearn 
from sklearn.impute import SimpleImputer

#Calling the Method - SimpleImputer (With Parameters) assigning into a New Variable - imp
#Creating imputer which is configured to replace missing values (np.nan) with the mean of each column
imp = SimpleImputer(missing_values=np.nan, strategy="mean")

# This step calculates the mean of each column in 'quan' and prepares the imputer to replace missing values
imp.fit (dataset[quan])
imp

SimpleImputer()

In [20]:
# Transforming the data by replacing missing values with the computed means
imputed_data = imp.transform (dataset[quan])
imputed_data

array([[ 4.57741000e+05,  3.93450000e-02, -1.13609990e-02, ...,
         2.79840010e-02,  3.93799990e-02,  2.74100010e-02],
       [ 3.39045000e+05,  2.79060010e-02, -2.11000000e-04, ...,
         2.76950000e-02,  2.83830000e-02,  2.76420000e-02],
       [ 4.05214000e+05,  2.77149990e-02,  7.10000000e-05, ...,
         2.77860000e-02,  2.79650000e-02,  2.64679990e-02],
       ...,
       [ 2.28349000e+05,  6.30400002e-01,  1.22420190e-02, ...,
         6.42642021e-01,  6.44816995e-01,  6.24212027e-01],
       [ 2.38951000e+05,  6.43339992e-01,  1.86598300e-03, ...,
         6.45205975e-01,  6.65356994e-01,  6.30181015e-01],
       [ 3.00445000e+05,  6.45887971e-01, -1.99009780e-02, ...,
         6.25986993e-01,  6.51446998e-01,  6.22269988e-01]])

In [21]:
# Convert the NumPy array back to a pandas DataFrame
imputed_dataset = pd.DataFrame(imputed_data, columns=quan)
imputed_dataset

,volume,open,Close Minus Open,Adj Close Minus Open,Close Minus Adj Close,High Minus Open,High Minus Close,High Minus Adj Close,High Minus Low,close,adj_close,high,low
0,457741.0,0.039345,-0.011361,-0.011361,0.0,0.000035,0.011396,0.011396,0.011970,0.027984,0.027984,0.039380,0.027410
1,339045.0,0.027906,-0.000211,-0.000211,0.0,0.000477,0.000688,0.000688,0.000741,0.027695,0.027695,0.028383,0.027642
2,405214.0,0.027715,0.000071,0.000071,0.0,0.000250,0.000179,0.000179,0.001497,0.027786,0.027786,0.027965,0.026468
3,452310.0,0.027835,-0.000978,-0.000978,0.0,0.001503,0.002481,0.002481,0.002486,0.026857,0.026857,0.029338,0.026852
4,571556.0,0.026889,-0.000296,-0.000296,0.0,0.000368,0.000664,0.000664,0.001220,0.026593,0.026593,0.027257,0.026037
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048444,220284.0,0.637097,-0.025488,-0.025488,0.0,0.018679,0.044167,0.044167,0.044203,0.611609,0.611609,0.655776,0.611573
1048445,241639.0,0.611426,0.019192,0.019192,0.0,0.039220,0.020028,0.020028,0.050186,0.630618,0.630618,0.650646,0.600460
1048446,228349.0,0.630400,0.012242,0.012242,0.0,0.014417,0.002175,0.002175,0.020605,0.642642,0.642642,0.644817,0.624212
1048447,238951.0,0.643340,0.001866,0.001866,0.0,0.022017,0.020151,0.020151,0.035176,0.645206,0.645206,0.665357,0.630181
1048448,300445.0,0.645888,-0.019901,-0.019901,0.0,0.005559,0.025460,0.025460,0.029177,0.625987,0.625987,0.651447,0.622270

In [22]:
#Method-01, To check the Presence of Null values in Entire Imputed_dataset in Count, since having poor readability in Python
imputed_dataset.isnull().sum()

volume                   0
open                     0
Close Minus Open         0
Adj Close Minus Open     0
Close Minus Adj Close    0
High Minus Open          0
High Minus Close         0
High Minus Adj Close     0
High Minus Low           0
close                    0
adj_close                0
high                     0
low                      0
dtype: int64

In [23]:
#Method-02, To check the Presence of Null values in Entire Imputed_dataset in Count, since having poor readability in Python
imputed_dataset.isna().sum()

volume                   0
open                     0
Close Minus Open         0
Adj Close Minus Open     0
Close Minus Adj Close    0
High Minus Open          0
High Minus Close         0
High Minus Adj Close     0
High Minus Low           0
close                    0
adj_close                0
high                     0
low                      0
dtype: int64

In [24]:
categorical_dataset = dataset[qual]
categorical_dataset

          symbol        Date Time - 24 Hour Format Time - 12 Hour Format
0        BLY-USD  07-08-2020              00:00:00              12:00 AM
1        BLY-USD  08-08-2020              00:00:00              12:00 AM
2        BLY-USD  09-08-2020              00:00:00              12:00 AM
3        BLY-USD  10-08-2020              00:00:00              12:00 AM
4        BLY-USD  11-08-2020              00:00:00              12:00 AM
...          ...         ...                   ...                   ...
1048444  MNW-USD  07-07-2024              00:00:00              12:00 AM
1048445  MNW-USD  08-07-2024              00:00:00              12:00 AM
1048446  MNW-USD  09-07-2024              00:00:00              12:00 AM
1048447  MNW-USD  10-07-2024              00:00:00              12:00 AM
1048448  MNW-USD  11-07-2024              00:00:00              12:00 AM

[1048449 rows x 4 columns]

In [29]:
#Assigning the Two Different Datasets into New List - Two_Datasets

Two_Datasets = [categorical_dataset,imputed_dataset]

In [30]:
""" Concatinating the Two Different Datasets present in List - Two_Datasets with Parameter (axis=1) 
to set the merge function to be happened Column wise"""

Preprocessed_Dataset = pd.concat(Two_Datasets,axis=1)
Preprocessed_Dataset

,symbol,Date,Time - 24 Hour Format,Time - 12 Hour Format,volume,open,Close Minus Open,Adj Close Minus Open,Close Minus Adj Close,High Minus Open,High Minus Close,High Minus Adj Close,High Minus Low,close,adj_close,high,low
0,BLY-USD,07-08-2020,00:00:00,12:00 AM,457741.0,0.039345,-0.011361,-0.011361,0.0,0.000035,0.011396,0.011396,0.011970,0.027984,0.027984,0.039380,0.027410
1,BLY-USD,08-08-2020,00:00:00,12:00 AM,339045.0,0.027906,-0.000211,-0.000211,0.0,0.000477,0.000688,0.000688,0.000741,0.027695,0.027695,0.028383,0.027642
2,BLY-USD,09-08-2020,00:00:00,12:00 AM,405214.0,0.027715,0.000071,0.000071,0.0,0.000250,0.000179,0.000179,0.001497,0.027786,0.027786,0.027965,0.026468
3,BLY-USD,10-08-2020,00:00:00,12:00 AM,452310.0,0.027835,-0.000978,-0.000978,0.0,0.001503,0.002481,0.002481,0.002486,0.026857,0.026857,0.029338,0.026852
4,BLY-USD,11-08-2020,00:00:00,12:00 AM,571556.0,0.026889,-0.000296,-0.000296,0.0,0.000368,0.000664,0.000664,0.001220,0.026593,0.026593,0.027257,0.026037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048444,MNW-USD,07-07-2024,00:00:00,12:00 AM,220284.0,0.637097,-0.025488,-0.025488,0.0,0.018679,0.044167,0.044167,0.044203,0.611609,0.611609,0.655776,0.611573
1048445,MNW-USD,08-07-2024,00:00:00,12:00 AM,241639.0,0.611426,0.019192,0.019192,0.0,0.039220,0.020028,0.020028,0.050186,0.630618,0.630618,0.650646,0.600460
1048446,MNW-USD,09-07-2024,00:00:00,12:00 AM,228349.0,0.630400,0.012242,0.012242,0.0,0.014417,0.002175,0.002175,0.020605,0.642642,0.642642,0.644817,0.624212
1048447,MNW-USD,10-07-2024,00:00:00,12:00 AM,238951.0,0.643340,0.001866,0.001866,0.0,0.022017,0.020151,0.020151,0.035176,0.645206,0.645206,0.665357,0.630181
1048448,MNW-USD,11-07-2024,00:00:00,12:00 AM,300445.0,0.645888,-0.019901,-0.019901,0.0,0.005559,0.025460,0.025460,0.029177,0.625987,0.625987,0.651447,0.622270

In [31]:
#Saving the Concatinated Dataset as .csv File

Preprocessed_Dataset.to_csv("Preprocessed_Data_Cryptos.csv",index=False)